<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблицы по ответственным</title>
</head>
<body>
    <div class="container" style="max-width: 1920px">
    <div style="display: flex">
        <div class="container" style="max-width: 1920px">
    {%  for i in resp %}
          <h2>{{ i.name }}</h2>
        <div style="display: flex; flex-direction: column">
                <table data-href-template="" border="1" style="border-collapse:collapse; width: 100%; margin-bottom: 50px; font-size: 30px">
                <tr>
                  <th>id</th>
                  <th>Наименование</th>
                  <th>Код</th>
                  <th>Инвентарный номер</th>
                  <th>Цена</th>
                  <th>Количество</th>
                  <th>Сумма</th>
                  <th>Примечание</th>
                  <th>Qr-код</th>
                </tr>
                {% for r in things %}
                    {% for j in r.responsible.all %}
                        {% if j.id == i.id %}
                            <tr>
                                <td>{{ r.id }}</td>
                                <td>{{ r.name }}</td>
                                <td>{{ r.code }}</td>
                                <td>{{ r.inv}}</td>
                                <td>{{ r.price }}</td>
                                <td>{{ r.count }}</td>
                                <td>{{ r.summ }}</td>
                                <td>{{ r.note }}</td>
                                <td><a href="{% url 'qrcode' r.id %}">Qr-код</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </table>
        {% endfor %}
      </div>
    </div>
</body>
</html>