<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица ответственных</title>
</head>
<body>
    <div class="container" style="max-width: 1920px">
    <div style="display: flex">
        <table data-href-template="" border="1" style="border-collapse:collapse; width: 100%; margin-bottom: 50px; font-size: 30px">
        <tr>
          <th>id</th>
          <th>ФИО</th>
        </tr>
        {% for resp in responsible_list %}
            <tr>
                <td> {{ resp.id }} </td>
                <td> {{ resp.name }}</td>
        {% endfor %}
            </tr>
        </table>
        <table data-href-template="" border="1" style="border-collapse:collapse; margin-bottom: 50px; font-size: 30px">
            <tr>
                <th>Редактировать</th>
            </tr>
            {% for resp in responsible_list %}
                <tr>
                    <td> <a href="{% url 'edit-resp' resp.id %}" target="_blank">Редактировать</a> </td>
                </tr>
            {% endfor %}
        </table>
    </div>
        <div style="display: flex">
            <form action="{% url 'create-resp' %}" target="_blank" >
                <button class="btn" style="margin-right: 20px; width: 120px; height: 50px; font-size: 18px; cursor: pointer">Добавить</button>
            </form>
            <form action="/admin/inventory_bd/responsible/" target="_blank">
                <button class="btn" style="margin-right: 20px; width: 120px; height: 50px; font-size: 18px; cursor: pointer">Удалить</button>
             </form>
        </div>
    </div>
</body>
</html>